body {
    background-color: #DCD7D1;
}

h1 {
    color: #B43A75;
}

.div-form .div-corpo {
    background-color: #B6AF75;
    
    display: flexbox;
  /*  position: absolute;*/

    width: 600px;
    height: 600px;
    top:95%;
    right: 20%;
    
    transform: translate(-50%,-50%);
    
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 40px;


    border-radius: 15px;
    
    text-align: left;
    /*#B6AF75; - prata*/
    /*#394A20; - verde */
    /*#B43A75; - rosa */
}

.btn-enviar {
    display: flexbox;
    
   /* position: absolute;*/
    width: 600px;
    height: 1px;
    top:165%;
    right: 20%;
    
    transform: translate(-50%,-50%);
    
    padding-top: 60px;
    padding-bottom: 250px;
    border-radius: 15px;
    text-align: left;
}

input{
    width: 500px;
    height: 50px;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
}
textarea{
    border-radius: 15px;
}
button{
    background-color: #394a20;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
}
button:hover{
    background-color: hsl(84, 40%, 43%);
    cursor: pointer;
    color: #B43A75;
}
/*a{
    color: blue;
    text-decoration: none;
    padding: 15px;
    font-size: 13px;   
}*/