/*#B6AF75; - prata*/
/*#394A20; - verde */
/*#B43A75; - rosa */
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: <weight>;
    font-style: normal;*/
}

.conteudo {
    margin-bottom: -55px;
    background-color: #DCD7D1;
}

.image-container {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 0px;
    height: auto;
    width: auto;
}

.img-topo-contato {
    height: 390px;
    width: 1360px;
    min-width: 100%;
    max-width: 100%;
    object-fit: fill;   
}
/*
body {
    background-color: #DCD7D1;
}*/

.titulo {
    display: flexbox;
    align-content: center;
    justify-content: center;
    text-align: left;
    width: 900px;
    height: auto;    
    padding-top: 30px;
    padding-bottom: 1px;
    padding-left: 50px;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 100px;
}

h1 {
    color: #B43A75;
    font-family: "Montserrat", sans-serif;
}

.div-form {
    background-color: #B6AF75;
    display: flex;
    justify-content: center;
    align-content: center;

    width: 600px;
    height: 550px;
    padding-top: 30px;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 300px;
    border-radius: 15px;
}

.div-corpo {
    text-align: left;  
    display: flexbox;
    align-items: center;
    padding-left: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 200px;
    margin-right: 300px;
    border-radius: 15px;
}

.info {
    display: flexbox;
    align-content: center;
    text-align: center;
    width: 900px;
    padding-bottom: 1px;
    padding-left: 50px;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 100px;
}

input{
    width: 500px;
    height: 50px;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
}
textarea{
    border-radius: 15px;
}

.div-btn {
    display: flex;
    align-content: center;
    justify-content:center;   
}

.btn-enviar {
    background-color: #394a20;
    color: white;
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 20px;
}

.btn-enviar:hover{
    background-color: hsl(84, 40%, 43%);
    cursor: pointer;
    color: #3ab4ae;
}

.copyright {
    background-color: #DCD7D1;
}