/*#B6AF75; - prata*/
/*#394A20; - verde */
/*#B43A75; - rosa */
* {
    /*font-family: "Montserrat", sans-serif;*/
    font-family: "Poetsen One", sans-serif;
    font-optical-sizing: auto;
}

.conteudo {
    margin-bottom: -55px;
    background-color: #DCD7D1;
}

.img-container {
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-topo-contato {
    padding-top: 1%;
    display: block;
    max-width: 100%;
}

/* Configuração do Estilo das Letras h1, h2, h3, p */
.titulo h1 {
    color: #B43A75;
    text-align: justify;
    /*font-family: "Poetsen One", sans-serif;*/
    font-size: 60px;
    padding: 10px;
    margin: 40px;
}

.titulo p {
    color: #394A20;
    /*font-family: "Poetsen One", sans-serif;*/
    font-style: normal;
    font-size: 20px;
    margin: 40px;
}

.info p {
    color: #394A20;
    /*font-family: "Poetsen One", sans-serif;*/
    font-style: normal;
    font-size: 18px;
    margin: 40px;
}

.info strong {
    color:  #B43A75;
    /*font-family: "Poetsen One", sans-serif;*/
    font-style: normal;
    font-size: 20px; 
}

.info i {
    color:  #B43A75;
    /*font-family: "Poetsen One", sans-serif;*/
    font-style: normal;
    font-size: 18px; 
}

/* Configuração Formulário */
.div-form {
    background-color: #B6AF75;
    display: flex;
    justify-content: center;
    align-content: center;

    width: 600px;
    height: 550px;
    padding-top: 30px;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 300px;
    border-radius: 15px;
}

.div-corpo {
    text-align: left;  
    display: flexbox;
    align-items: center;
    padding-left: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 200px;
    margin-right: 300px;
    border-radius: 15px;
}

.info {
    display: flexbox;
    align-content: center;
    text-align: center;
    width: 900px;
    padding-bottom: 1px;
    padding-left: 50px;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 100px;
}

input{
    width: 500px;
    height: 50px;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
}
textarea{
    border-radius: 15px;
}

.div-btn {
    display: flex;
    align-content: center;
    justify-content:center;   
}

.btn-enviar {
    background-color: #394a20;
    color: white;
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 20px;
}

.btn-enviar:hover{
    background-color: hsl(84, 40%, 43%);
    cursor: pointer;
    color: #3ab4ae;
}

.copyright {
    background-color: #DCD7D1;
}