* {
    /*font-family: "Montserrat", sans-serif;*/
    
    padding: 0;
    margin: 0;
}

.conteudo {
    display: block;
    margin-bottom: -55px;
    background-color: #DCD7D1;
}

body {
    background-color: #DCD7D1;
}

.img-container {
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.img-topo-home {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

/*-----------------*/
/* 
.image-container {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-topo-home {
    width: 100%;
    margin-top: 0px;
    margin-bottom: -60px;
    max-width: 100%;
    min-width: 50%;
    padding-top: 1%;
    display: block;
}

* {
    padding: 0;
    margin: 0;
}

.conteudo {
    display: block;
}

body {
    background-color: #ffffff;
}

*/



.dropdown-menu {
    width: 200px;
    margin-bottom: 0 auto;
}

.container-slogan {
    margin-bottom: -55px;
}

.frase-container {
    display: block;
    margin-bottom: 60px;
    justify-content: center; /* Alinhamento horizontal: flex-start, center, flex-end, space-between, space-around */
    align-content: center; /* Alinhamento vertical: flex-start, center, flex-end, baseline, stretch */
    height: 200px;
    text-align: center;
    color: #394A20;
    font-family: "Poetsen One", sans-serif;
    font-optical-sizing: auto;
}

.frase-slogan {
    font-size: 30px;
}

.negrito-verde {
    color: #394A20;
}

.botao {
    width: 330px;
    height: 50px;
    font-size: 16px;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    background-color: #394A20;
    border-radius: 10px;
    border: 1px solid #ccc;;
}

.texto-apresentacao {
    background-color: #B6AF75;
    text-align: center;
    justify-content: justify;
    align-content: center;
    height: 150px;
    display: block;
}

.texto-apresentacao p {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.resumo-projetos {
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px 10px; /* Espaçamento entre as linhas de projetos */
}

.linhaUm-projetos, .linhaDois-projetos {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 1000px;
}

.projetoUm, .projetoDois, .projetoTres, .projetoQuatro {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFE3E3;
    text-align: center;
    color: #394A20;
    transition: all 0.5s ease;
}

.resumo-projetos h2 {
    font-family: "Poetsen One", sans-serif;
    font-optical-sizing: auto;
}

.projetoUm:hover, .projetoDois:hover, .projetoTres:hover, .projetoQuatro:hover {
    transform: scale(1.03);
    
}

.projetoUm, .projetoDois, .projetoTres, .projetoQuatro p {
    font-size: 18px;
}

/* Configurando o link dos projetos*/
.link-div {
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: pointer;
}

.link-div:link, .link-div:visited, .link-div:hover, .link-div:active {
    color: inherit;
    text-decoration: none;
}

.link-div:hover .projetoUm, .link-div:hover .projetoDois, .link-div:hover .projetoTres, .link-div:hover .projetoQuatro {
    background-color: #B6AF75;
    cursor: pointer;
}

/* Configurando texto da chamada de ação após apresentação dos projetos*/
.texto-chamadaacao h2 {
    margin-top: 10px;
    text-align: center;
    color: #394A20;
    font-size: 25px;
    font-family: "Poetsen One", sans-serif;
    font-optical-sizing: auto;
}

.texto-chamadaacao h2 a {
    display: inline;
    text-decoration: underline;
    color: #B43A75;
}

/* Faz as imagens dos projetos ficarem redondas*/
.imagem-projetoUm, .imagem-projetoDois, .imagem-projetoTres, .imagem-projetoQuatro{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.copyright {
    background-color: #DCD7D1;
}