body {
    background-color: #ffffff;
    
}

.dropdown-menu {
    width: 200px;
    margin: 0 auto;
}

.conteudo {
    margin-bottom: -55px;
}

.image-container {
    margin-top: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-topo-home {
    max-width: 100%;
    height: auto;
    min-width: 50%;

}

.frase-container {
    margin-top: 30px;
    text-align: center;
    color: #394A20;
    font-size: 18px;
}

.frase-slogan {
    font-size: 25px;
}

.botao {
    padding: 10px 120px;
    font-size: 16px;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    background-color: #394A20;
    border-radius: 10px;
    border: 1px solid #ccc;;
}

.texto-apresentacao {
    background-color: #B6AF75;
    padding: 10px 20px;
    text-align: center;
    justify-content: justify;
}

.texto-apresentacao p {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
