/*#B6AF75; - prata*/
/*#394A20; - verde */
/*#B43A75; - rosa */


/* ajustar texto da página semelhante ao layout*/
* {
    /*font-family: "Montserrat", sans-serif;*/
    font-family: "Poetsen One", sans-serif;
    font-optical-sizing: auto;
}


body {
    background-color: #DCD7D1;
    margin: 0px;
}


.conteudo {
    margin-bottom: -55px;
    align-items: center;
    margin:0 auto;
}


section {   /*centraliza conteúdo da section*/
    width: 1000px;
    margin: 0 auto;
  }


.image-container {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 0px;
    height: auto;
    width: auto;
}


.img-topo-guardia { /*deixar o banner ocupando a tela de forma horizontal*/
    max-width: 100;
    height:400px;
    width:1500px;
    /*width: auto;*/
    min-width: 50%;
    object-fit: fill;
}


h1, h2 {
    color: #B43A75;
    text-align: justify;
    font-family:"Poetsen One", sans-serif;
    padding: 10px;
}


.texto p {
    color: #394A20;
}
.div-texto{
    color: #394A20;
}








/*-----*/


.div-dividido {
    display: flex;
    padding-top: 20px;
}


.div-catalyst {
    height: auto;
    padding-bottom: 20px;
    padding-left: 10px;
}


.div-igualdade {
    width: 3px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
}


.div-texto {
    width: 800px;
    text-align: justify;
    margin-left: 80px;
    margin-right: 90px;
}


/*---*/
.parceiro-div {
    background-color: #394A20;
    height: 280px;
}


.parc-h h2 {
    color: #DCD7D1;
    text-align: center;
    padding: 10px;
    padding-top: 25px;
}


/*----*/


/* .parceiro-div {
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
} */


.secao4 {
    width: auto;
    margin: 0;
    font-family: Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}


.secao4-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    text-align: center;
}


.secao4-div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 60px);
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: white;
    transition: all 0.5s ease;
    justify-content: center;
}


.secao4-div-card:hover {
    transform: scale(1.1);
    z-index: 1;
}


.secao4-div-card img {
    width: 35%;
    height: auto;
}







