/*body {
  background-color: #DCD7D1;

}*/

* {
  /*font-family: "Montserrat", sans-serif;*/
  font-family: "Poetsen One", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: #ffffff;
}

.conteudo {
  margin-bottom: -55px;
  background-color: #ffffff;
}

.img-container {
  margin-top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-topo-pet {
  height: 400px;
  width: 100%;
  object-fit: cover;
 /* padding-top: 1%;
  display: block;
  max-width: 100%;*/
}

/*--------------*/
/*
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  height: auto;
  width: auto;
}

.img-topo-pet {
  height: 400px;
  width: 100%;

}

ul {
  font-size: 20px;
  margin: 40px;
  font-family: "Poetsen One", sans-serif;
}
*/

h1 {
  color: #B43A75;
  text-align: justify;
  font-family: "Poetsen One", sans-serif;
  font-size: 60px;
  padding: 10px;
  margin: 40px;
}

p {
  text-align: justify;
  font-style: normal;
  font-size: 20px;
  margin: 40px;
}

.texto p strong {
  color: #B43A75;
}

p strong {
  color: white;
}

#texto {
  align-content: center;
}

.parceiro-div {
  background-color: #394A20;
}

h2 {
  color: #DCD7D1;
  text-align: center;
  padding: 3%;
}

/*----*/

.secao4 {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.secao4-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.secao4-div-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3 - 60px);
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
  transition: all 0.5s ease;
}

.secao4-div-card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.secao4-div-card img {
  width: 35%;
  height: auto;
}

.secao4-div-card h3 {
  margin-bottom: 0px;
}

/*.content-grids {
  height: 200px;
}*/

.copyright {
  background-color: #DCD7D1;
}