body {
  background-color: #DCD7D1;

}

.conteudo {
  padding: 0;
  min-height: auto;
  margin: 100px;
}
 
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  height: auto;
  width: auto;
}

.img-topo-pet {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.bem-vindo {
  color: #394A20;
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
}

.total-acoes ul {
  margin-top: 30px;
  font-size: 20px;
  font-family: "Poetsen One", sans-serif;
}

.como-ajudar p {
  margin-top: 30px;
}

h1 {
  color: #B43A75;
  text-align: justify;
  font-family: "Poetsen One", sans-serif;
  font-size: 50px;
}

h2 {
  font-family: "Poetsen One", sans-serif;
  font-size: 50px;
  color: #B43A75;
}

article p {
  margin-top: 30px;
  text-align: justify;
  font-style: normal;
  font-size: 18px;
}

.texto p strong {
  color: #B43A75;
}

.como-ajudar p {
  color: #394A20;
  font-size: 18px;
}

.texto-chamadaacao {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: justify;
  color: #394A20;
  font-size: 18px;
}

.texto-chamadaacao a {
  display: inline-block;
  text-decoration: solid;
  font-weight: bold;
  font-size: 18px;
  color: #B43A75;
}

/*----*/

#texto {
  align-content: center;
}

/*---*/
.parceiro-div {
  margin-top: -80px;
  background-color: #394A20;
  height: 330px;
  padding-bottom: 100px;
}


.parc-h h2 {
  color: #DCD7D1;
  text-align: center;
  padding: 10px;
  padding-top: 25px;
}


.secao4 {
  width: auto;
  margin: 10px;
  font-family: Helvetica, sans-serif;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}


.secao4-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  text-align: center;
}


.secao4-div-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3 - 60px);
  margin: 20px;
  padding: 20px;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
  transition: all 0.5s ease;
  justify-content: center;
}


.secao4-div-card:hover {
  transform: scale(1.1);
  z-index: 1;
}


.secao4-div-card img {
  width: 35%;
  height: auto;
}







